table.generic {
  border:1px solid black;
  text-align: left;
  width: 75%;
  overflow:scroll;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
  border-collapse:collapse;
}

tr[class='even']{
  background-color:#999999;
  border:1px solid black;
}

tr[class='odd']{
  background-color:white;
  border:1px solid black;
}
